{{> server/chrome}}

<div class="grid items-start gap-4 xl:grid-cols-[minmax(0,1fr)_300px]">
  <div class="min-w-0">
    {{> server/player-detail}}
  </div>
  <aside class="xl:sticky xl:top-20">
    {{> server/world-controls}}
  </aside>
</div>
